*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  background-color: #e1cbb1;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

.banner {
  z-index: -1;
  pointer-events: none;
  position: fixed;
  background-image:  url("../images/Lightest.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:4rem;
  padding: 8px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.navbar ul li a {
  color:black;
}

li {
  padding:10px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #a1887f;
}

li:hover {
  animation: 1s hovered forwards;
}

.selected-link {
  background-color: #976f47;
  font-weight:600;
}

@keyframes hovered {

  100% {
    border: 1px solid rgba(255, 255, 255, 0.51);
  }
}
