*{
    font-family: 'Nuosu SIL', serif;
}

h2, h1, p, table {
  /*font-family: 'Forum', cursive;*/
  color: #422a14;
  text-align: center;
}

table {
margin-left: auto;
margin-right: auto;
width:16em;
color: #422a14;
}

caption {
  font-size: 1.25em;
}

td {
text-align: center;
}

#guess-div{
width:17em;
margin-top: 1em;
margin-left: auto;
margin-right: auto;
border-color: #422a14;
border-style: solid;
border-width: thin;
}

#scrambled-word{
color: #422a14;
font-size: 2em;
}

#scramble-rules{
background-color: #d7ccc8;
border-color: #422a14;
border-style: dashed;
border-width: thin;
border-radius: 1em;
padding:4px;
}

h1 + p {
 color: #422a14;
}

h2 {
  color: #383636;
  font-size: 1.5em;
}

p {
  margin-left: 11%;
  margin-right: 11%;
  color: #6f4929;
  font-size: 1.2em;
}

#guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(67, 68, 70, 0.4);
  width: 100%;
  height:100%;
  padding:10px;
  overflow: hidden;
}

#lives-display{
  font-size: 1.1em;
}

#scramble-guess {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


input,button,select {
  width:8em;
  height:40px;
  text-align: center;
  margin:10px;
}

#guess-input {
  width:17em;
}
