<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DictionarySite Word Scramble</title>
  <script defer src="../js/scramble.js"></script>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/scramble.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap" rel="stylesheet">
</head>
<body>

<div class="banner">
</div>

<header>
  <nav class="navbar">
    <ul>
      <li><a href="../index.html">HOME</a></li>
      <li class="selected-link"><a href="views/scramble.html">SCRAMBLE</a></li>
      <li><a href="search.html">SEARCH</a></li>
    </ul>
  </nav>
</header>
<div id="scramble-title">
    <h1>
        Word Scramble
    </h1>
    <p id="scramble-rules">
        Guess the scrambled word to win! Each correct guess increases the length of each word by a letter.
        Miss three times on a word and you'll have to restart.
    </p>
</div>
<div id="scrambled-div">
    <p id="lives-display">
        <em id="lives-display-text">4 guess(es) left!</em>
    </p>
    <h1 id="scrambled-word">
    </h1>
</div>
<div id="guess-bar">
    <form onsubmit="return false" id="scramble-guess">
        <span>
        <input id="guess-input" type="text" placeholder="Type your guess here!"/>
        <button type="submit" id="guess-button">Guess</button>
      </span>
    </form>
</div>

<div id="guess-div">
<table id ="guess-table">
    <caption>Word Scramble Guesses</caption>
    <tr id="col-names">
        <th>Your Guess</th>
        <th>Scrambled Word</th>
    </tr>
</table>
</div>
</body>
</html>
