<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokeTEK Search</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
  <script defer src="../js/search.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap" rel="stylesheet">
  <style>
    #search-description{
      margin-left: 12%;
      margin-right: 12%;
      border-color: #422a14;
      border-style: dashed;
      border-width: thin;
      border-radius: 1em;
      padding:4px;
    }
  </style>
</head>
<body>
  <div id="loading-icon-container">
    <div id="loading-icon"></div>
    <p>please wait</p>
  </div>

  <div class="banner">

  </div>

  <header>
    <nav class="navbar">
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li><a href="scramble.html">SCRAMBLE</a></li>
        <li class="selected-link"><a href="views/search.html">SEARCH</a></li>
      </ul>
    </nav>
  </header>
  <div id="search-title">
    <h1>
      Word Search
    </h1>
    <p style="background-color: #d7ccc8;" id="search-description">
      Look up a word in the dictionary! Enter the word, select if you want to see its definition or phonetics,
      then hit Search.
    </p>
  </div>
  <div id="search-container">
    <form onsubmit="return false" id="word-search">
      <select name="searchfilter" id="searchfilter">
        <option value="definitions">Definitions</option>
        <option value="phonetics">Phonetics</option>
      </select>
      <span>
        <input id="wordsearch-input" type="text" placeholder="Word"/>
      <button type="submit" id="word-search-button">Search</button>
      </span>
    </form>


    <div id="search-grid-container"></div>
  </div>
</body>
</html>
